.container {
    width: 960px;
    margin: 0px auto;
    border: solid 1px;
}
header{
    border-top: 30px solid green;
    overflow: hidden;
}
.sect_left{
    width: 40%;
    float: left;
    margin: 8px;
    text-align: right;

    /*border: 1px solid blue;*/
}
.sect_right{
    width: 55%;
    float: left;
    margin: 4px;
    padding: 4px;
    text-align: left;
    border-left:    1px solid limegreen;
    /*border: 1px solid blue;*/
}
.cv_pic{
    background: green;
    width: 40px;
    height: 40px;
    margin-top: 22px;
    margin-left: 354px;
}
.cv{
    padding-top: 14px;
    padding-right: 8px;
    text-transform: uppercase;
    text-;
}
main {
    overflow: hidden;
}
h1{
    font-size: 24pt;
}
h3{
    text-transform: uppercase;
    margin-bottom: 0;
}
h4 {
    text-align: center ;
}
h5 {
    margin: 0;
}
ul{
    margin: 0;
}
.skills{
    text-align: left;
}
.skiils_pers{
    float: left;
    width: 141px;
    text-align: left;
    margin-left: 22px;
}
.skiils_spec {
    width: 221px;
    text-align: left;
    float: left;
}
.expir_comp{
    font-style: italic;: ;
}

footer{
    border-bottom: 30px solid green;
}

*{
    font-family: Calibri;
    font-size: 14pt;
}
